/*================================================
 Utility (u)
==================================================
 Tiny classes to help out when needed.
==================================================
 Abbreviations used:
 s = small
 m = medium
 l = large
================================================*/

/*== Font Size ==*/
.u-font-s   { font-size: $font-s; }
.u-font-m   { font-size: $font-m; }
.u-font-l   { font-size: $font-l; }
.u-font-xl  { font-size: $font-xl; }
.u-font-xxl { font-size: $font-xxl; }

/*== Headings ==*/
.u-heading-s   { font-size: $font-s; }
.u-heading-m   { font-size: $font-m; }
.u-heading-l   { font-size: $font-l; }
.u-heading-xl  { font-size: $font-xl; }
.u-heading-xxl { font-size: $font-xxl; letter-spacing: -0.03em; }

/*== Text Sizes ==*/
.u-text-s   { font-size: $font-s; }
.u-text-m   { font-size: $font-m; }
.u-text-l   { font-size: $font-l; }
.u-text-xl  { font-size: $font-xl; }
.u-text-xxl { font-size: $font-xxl; }

/*== Text Align ==*/
.u-text-center {
	text-align: center;
}
.u-text-right {
	text-align: right;
}

/*== Text Color ==*/
.u-text-warning {
	color: $color-warning;
}
.u-text-light {
	color: $color-grey;
}
.u-text-info {
	color: $color-secondary;
}

/*== Text Link ==*/
.u-text-link {
	display: inline-block;
	text-decoration: none;

	&:hover,
	&:active {
		text-decoration: underline;
	}
}

/*== Disabled Link ==*/
.u-disabled-link {
    text-decoration: none !important;
    cursor: text;
}

/*== Lists ==*/
.u-bulleted-list {
	list-style: disc;

	li {
		margin-left: $spacing-2x;
	}
}

/*== Card ==*/
.u-card {
	border-radius: $corners-l;
	background-color: #fff;
	box-shadow: $shadow-s;
}

/*== Spacing ==*/
.u-spacing-top-half { margin-top: $spacing-half; }
.u-spacing-top-1x   { margin-top: $spacing-1x; }
.u-spacing-top-2x   { margin-top: $spacing-2x; }
.u-spacing-top-4x   { margin-top: $spacing-4x; }
.u-spacing-bottom-1x { margin-bottom: $spacing-1x; }
.u-spacing-bottom-2x { margin-bottom: $spacing-2x; }
.u-spacing-bottom-4x { margin-bottom: $spacing-4x; }

/*== Padding ==*/
.u-padding-top-1x { padding-top: $spacing-1x; }
.u-padding-top-2x { padding-top: $spacing-2x; }
.u-padding-top-4x { padding-top: $spacing-4x; }
.u-padding-bottom-1x { padding-bottom: $spacing-1x; }
.u-padding-bottom-2x { padding-bottom: $spacing-2x; }
.u-padding-bottom-4x { padding-bottom: $spacing-4x; }

/*== Offscreen (hidden text for the sight impaired) ==*/
.u-offscreen {
	position: absolute;
	left: -9999px;
}

/*== Clear Fix ==*/
.u-clear-fix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

/*== Clickable ==*/
.u-clickable {
	cursor: pointer;
}

/*== Flash Message ==*/
.u-flash-message {
	background-color: $color-secondary;
	color: #fff;
	padding: $spacing-1x;
	font-size: $font-s;

	@include bp(min-l) {
		text-align: center;
	}
}
