/*================================================
 Variables
==================================================
 Cached values to be used throughout the project.
================================================*/

/*== Font Sizes ==*/
$font-s:   0.75rem; // 12px
$font-m:   1rem;    // 16px
$font-l:   1.25rem; // 20px
$font-xl:  1.5rem;  // 24px
$font-xxl: 2.25rem; // 36px
$font-xxxl: 3rem;    // 48px

/*== Vertical Spacing ==*/
$spacing-quarter: 0.1875rem; // 6px
$spacing-half:    0.375rem;  // 6px
$spacing-1x:      0.75rem;   // 12px
$spacing-2x:      1.5rem;    // 24px
$spacing-4x:      3rem;      // 48px
$spacing-8x:      6rem;      // 96px
$spacing-16x:     12rem;     // 192px

/*== Media Query Widths ==*/
$width-xs:  320px;
$width-s:   400px;
$width-m:   500px;
$width-l:   600px;
$width-xl:  800px;
$width-xxl: 1000px;

/*== Colors ==*/
$color-primary:      #B22D26; // Red
$color-secondary:    #0093FF; // Green
$color-grey:         #a7a9ac;
$color-grey-light:   #cccccc;
$color-grey-lighter: #eeeeee;
$color-grey-dark:    #3B3840;
$color-offwhite:     #FAF9F8;
$color-warning:      #FC440F; // Orange
$color-info:         #4A99F7; // Blue

/*== Corners ==*/
$corners-s:      2px;
$corners-m:      4px;
$corners-l:      8px;
$corners-xl:     12px;
$corners-top-s:  2px 2px 0 0;
$corners-top-m:  4px 4px 0 0;
$corners-top-l:  8px 8px 0 0;
$corners-top-xl: 12px 12px 0 0;

/*== Shadows ==*/
$shadow-xs:      0 2px  6px rgba(0, 0, 0, 0.1),
                 0 8px  6px rgba(0, 0, 0, 0.02),
                 0 12px 6px rgba(0, 0, 0, 0.02);
$shadow-s:       0 2px  6px rgba(0, 0, 0, 0.1),
                 0 8px  6px rgba(0, 0, 0, 0.02),
                 0 12px 6px rgba(0, 0, 0, 0.02),
                 0 16px 6px rgba(0, 0, 0, 0.02),
                 0 20px 6px rgba(0, 0, 0, 0.02);
$shadow-m:       0 4px 10px rgba(0, 0, 0, 0.3),
                 0 8px 10px rgba(0, 0, 0, 0.03),
                 0 12px 10px rgba(0, 0, 0, 0.03),
                 0 16px 10px rgba(0, 0, 0, 0.03),
                 0 24px 10px rgba(0, 0, 0, 0.03);
$shadow-inset-s: 0 2px 6px rgba(0, 0, 0, 0.2) inset,
                 0 4px 6px rgba(0, 0, 0, 0.05) inset,
                 0 6px 6px rgba(0, 0, 0, 0.05) inset;
$shadow-inset-m: 0 3px 10px rgba(0, 0, 0, 0.1) inset,
                 0 6px 10px rgba(0, 0, 0, 0.05) inset,
                 0 9px 10px rgba(0, 0, 0, 0.05) inset,
                 0 12px 10px rgba(0, 0, 0, 0.05) inset,
                 0 15px 10px rgba(0, 0, 0, 0.05) inset;

/*== Z-Index ==*/
$z-header: 10;
