/*================================================
 Global Header (gh)
==================================================
 Topmost page header found on most pages.
================================================*/

.gh-wrap {
  padding-top: $spacing-2x;
  padding-bottom: $spacing-2x;
  text-align: center;

  @include bp(min-l) {

  }
  a {
    color: $color-grey-dark;
  }
}
.gh-logo-link {

}
